# essential
-e git+https://github.com/NeuralEnsemble/python-neo.git@snapshot-20150821#egg=neo-snapshot-20150821
numpy>=1.6.2
quantities>=0.9.0
scipy>=0.11.0
six
# optional
#pandas>=0.14.0
# for building documentation
#numpydoc>=0.5
#sphinx>=1.2.2
# for running tests
nose>=1.3.3
