# Requirements for building documentation
numpy>=1.8.2
quantities>=0.10.1
-e git+https://github.com/NeuralEnsemble/python-neo.git@b460ff871babf1aa2cb61c2908f0d7a2ce361f8d#egg=neo-apibreak
scipy>=0.14.0
numpydoc
sphinx
