# Requirements for building documentation
numpy>=1.6.2
quantities>=0.9.0
-e git+https://github.com/NeuralEnsemble/python-neo.git@snapshot-20150821#egg=neo-snapshot-20150821
scipy>=0.11.0
numpydoc
sphinx
