pandas>=0.18.0 # required for pandas_bridge
scikit-learn>=0.23.2 # required for GPFA
statsmodels>=0.12.1 # required for SPADE for multiple testing correction
jinja2>=2.11.2  # required for ASSET CUDA
