# Packages required to build docs (in addition to requirements-tutorials.rst)
numpydoc>=1.1.0
jupyter>=1.0.0
sphinx>=3.3.0
nbsphinx>=0.8.0
sphinxcontrib-bibtex==1.0.0
sphinx-tabs>=1.3.0
matplotlib>=3.3.2
# conda install -c conda-forge pandoc
