name: Build Wheels

# Trigger the workflow on push to master. (this is equal to: PR is merged)
on:
  push:
    branches:
      - master

# Building wheels on Ubuntu and Windows systems
jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019]

    steps:
      - uses: actions/checkout@v2

      # Used to host cibuildwheel
      - uses: actions/setup-python@v2

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==1.10.0

      - name: Install libomp
        if: runner.os == 'macOS'
        run: brew install libomp

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_SKIP: "cp27-* cp33-* cp34-* cp35-* pp*"
          CIBW_PROJECT_REQUIRES_PYTHON: ">=3.6"
          CIBW_ARCHS: "auto64"

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl